<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RICK WEATHER APP LIVE ERROR</title>
    <link rel="stylesheet" href="style.css">
    <style>
        h2{
            color: red;
            text-align: center;
            margin-top: 350px;
        }
    </style>
</head>
<body>
    <h2>Message: This <%= data.cityName %> Data Not Found Please try again</h2>
</body>
</html>